#app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* display: flex;
  justify-content: space-between; */
  background-color: #f5f6fa;
}

#app .header {
  height: 48px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

#app .header .logo {
  font-size: 18px;
  font-weight: bold;
}

#app .header .icon-btn_container {
  margin-right: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .header .icon-btn_container .icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
  cursor: pointer;
  color: #666;
  margin: 0 10px;
}

#app .header .icon-btn_container .icon-item.active {
  color: #fff;
  background-color: #2d88f8;
}

#app .header .icon-btn_container .icon-item .iconfont {
  font-size: 22px;
}

#app .header .icon-btn_container .icon-item .icontext {
  font-size: 12px;
}

#app > .container {
  height: calc(100% - 48px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #c4c6cf;
}

#app > .container .tree-container {
  width: 288px;
  height: 100%;
  border-right: 1px solid #c4c6cf;
  border-bottom: 1px solid #c4c6cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#app > .container .tree-container .left-bar {
  width: 48px;
  background-color: #ececec;
}

#app > .container .tree-container .left-bar .icon-item {
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  margin: 8px 0;
  position: relative;
}

#app > .container .tree-container .left-bar .icon-item:hover {
  color: #4081ff;
}

#app > .container .tree-container .left-bar .icon-item:hover::before {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 18px;
  font-size: 12px;
  white-space: nowrap;
  padding: 6px 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  z-index: 100;
}

#app > .container .tree-container .left-bar .icon-item:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 5px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

#app > .container .tree-container .left-bar .icon-item .iconfont {
  display: block;
  text-align: center;
  font-size: 18px;
}

#app > .container .view-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app > .container .view-container .no-img-tip {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
}

#app > .container .view-container .content-box {
  width: 100%;
  height: calc(100% - 30px);
}

#app > .container .view-container .content-box .design-container {
  width: 100%;
  height: 100%;
}

#app > .container .view-container .content-box .preview-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  background-color: #ccc;
}

#app > .container .view-container .content-box .preview-container .resizable-handle {
  position: absolute;
}

#app > .container .view-container .content-box .preview-container .resizable-handle.resizable-n {
  width: 100%;
  height: 7px;
  top: -4px;
  cursor: n-resize;
}

#app > .container .view-container .content-box .preview-container .resizable-handle.resizable-s {
  width: 100%;
  height: 7px;
  bottom: -4px;
  cursor: n-resize;
}

#app > .container .view-container .content-box .preview-container .resizable-handle.resizable-e {
  width: 7px;
  height: 100%;
  right: -4px;
  cursor: e-resize;
}

#app > .container .view-container .content-box .preview-container .resizable-handle.resizable-w {
  width: 7px;
  height: 100%;
  left: -4px;
  cursor: w-resize;
}

#app > .container .prop-container {
  width: 300px;
  height: 100%;
  background-color: #f7f7f7;
  border-left: 1px solid #d8d8d8;
}

.node-desc {
  white-space: nowrap;
}
/*# sourceMappingURL=App.css.map */